* {
    overflow: auto;
}
body {
    background-color: black;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}
div.catégorie {
    margin: 0px 2% 30px 2%;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: visible;

}
p.TITRE {
    font-size: 40px;
    background-color:wheat;
    color: black;
    padding: 20px 30% ;
    margin: 0px 0px 0px 0px;
    

}    
div.contenu {
    background-color: black;
    color:wheat;
    margin-left: auto;
    margin-right: auto;
    margin: 10px 2px 40px 2px;
    padding: 0px 5px 10px 5px;
    box-shadow: 0px 0px 15px 5px grey; 
    overflow: visible;
}
.centre {
    text-align: center;   
}


h2.SSTITRE {
    background-color:grey;
    color: black;
    margin: 2px 2%;
}
.image{
    display: block;
    width: 100%;
    max-height: 600px;
    min-height: 200px;
    object-fit: cover;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 15px 5px grey; 
}
p.DesGen{ 
    text-align: center;
    max-width: 600px; 
    display: inline-block;
    font-size: larger;
    margin-top: 5px;
    margin-bottom: 5px;
}
div.DesGen{
    text-align: center;
}

div.contenu2{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
div.barre{
    background-color: wheat;
    height: 1px;
    margin: 5px 10% 5px 10%;
}
div.SiteOfficiel{
    margin: 10px;
}
  a.site {  
      color:grey;
      font-size: 20px;

}
div.colone{

}

div.colone h2{
    text-align: center;
    text-transform:uppercase;
    font-size: 15px;
    border-bottom: 10px solid grey;
}
div.colone1{
    margin-bottom: 20px;
    text-align: center;
}
div.colone2 {
    text-align: center;
    box-sizing: content-box;

}
.baspage {
    margin: 20px;  
    height: 500px;
}
div.ServMat p{
    text-align: center;
    font-size: 16px;
    color: wheat;
    border: 2px solid grey;
    padding: 10px 0;
    margin: 8px;
}
.ensemble {
   color: grey;
   margin: 4px;
   font-weight: bold ;
}
table.section td{
    font-size: 16px;
    font-weight: bold;
    padding-right: 5px;
}
table.section{
    margin-left: 50px;
    margin-left: auto;
    margin-right: auto;
}
p.bulle {
    background-color:grey;
    font-size: 14px;
    color: black;
    height: 25px;
    width: 25px;
    padding-top: 7px;
    box-sizing: border-box;
    border-radius: 50%;
    max-height: 25px;
    margin: 0;
}
table.section tr{
    height: 35px;
}
/* Style pour Ordinateur */
@media only screen and (min-width: 768px) {
    div.contenu {
        margin: 40px 5% 40px 5%;
        padding: 0px 30px 50px 30px;
        box-shadow: 0px 0px 5px 5px grey; 
    }
    div.catégorie {
        margin: 0px 15% 50px 15%;
    }
    h2.SSTITRE {
        margin: 2px 15%;
    }
    p.DesGen{ 
        margin-top: 40px;
        margin-bottom: 20px;
    }
    div.barre{
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: 500px;
    }
    div.SiteOfficiel{
        margin: 40px;
    }
    div.colone1{
        display: inline-block;
        margin-right: 5% ;
    }
    div.colone2 {
        float:right;
        margin-left: 5%;
        box-sizing: content-box;
    }
    div.colone{
        width: 45%;
    
    }
    .baspage {
        margin: 20px;  
        height: 300px;
    }
  }
  /* Style pour Ordinateur large ecran*/
@media only screen and (min-width: 1000px) {
    div.contenu{
        margin-left: auto;
        margin-right: auto;
        width: 825px;
    
    
    
    }






}